.contacts__heading {
  margin-bottom: 20px;
}

.contacts__list {
  margin: 0;
  margin-top: -13px;
  padding: 0;

  list-style: none;
}

.contacts__item {
  margin-top: 13px;
}

.contacts__label {
  display: block;
  padding: 0 22px;
  margin-bottom: 6px;
}

.contacts__input {
  position: relative;

  box-sizing: border-box;
  width: 100%;
  padding: 17px 71px 15px 22px;

  &--phone {
    background: url("../img/icon-phone.svg") right 19px top 20px no-repeat,
      linear-gradient(to left, #e6e6e6 58px, transparent 58px);
    background-color: @color-background;
  }

  &--mail {
    background: url("../img/icon-mail.svg") right 21px top 21px no-repeat,
      linear-gradient(to left, #e6e6e6 58px, transparent 58px);
    background-color: @color-background;
  }

  border: none;
  outline: none;

  &:hover,
  &:focus {
    background-color: #e5e5e5;
  }

  &:active,
  &:focus-within {
    background-color: @color-base;
    box-shadow: inset 0 0 0 4px #e5e5e5;
  }
}

@media (min-width: @tablet-width) {
  .contacts__heading {
    margin-bottom: 24px;
  }

  .contacts__list {
    margin-top: -24px;
  }

  .contacts__item {
    margin-top: 24px;
  }

  .contacts__input {
    box-sizing: border-box;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .contacts__heading {
    margin-bottom: 74px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -24px;
  }

  .contacts__item {
    display: flex;
    align-items: center;
    width: 480px;
    margin-top: 24px;
  }

  .contacts__item:nth-child(2n) {
    justify-content: space-between;
  }

  .contacts__label {
    margin: 0;
    margin-right: 16px;
    padding: 0;
  }

  .contacts__label-wrapper {
    display: none;
  }

  .contacts__input {
    box-sizing: border-box;
    width: 315px;
  }
}
