.form__text-main {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  color: @color-text-dark-heading;
}

.form__text-secondary {
  line-height: 26px;
  text-align: left;
}

.form input[type="text"]::placeholder,
.form input[type="tel"]::placeholder,
.form input[type="email"]::placeholder,
.form textarea::placeholder {
  color: @color-text-dark-heading;
}

.form__fieldset {
  position: relative;

  padding: 0 20px;
  margin: 0;

  border: none;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: @color-background;
  }
}

.form__full-name {
  margin-bottom: 25px;
}

.form__contacts {
  margin-bottom: 28px;
}

.form__impression {
  margin-bottom: 27px;
}

.form__attractions {
  margin-bottom: 24px;
}

.form__fieldset-heading {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;

  text-align: center;
}

.form__comment {
  margin-bottom: 51px;
}

.form__footnote {
  display: none;
}

@media (min-width: @tablet-width) {
  .form__container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 648px;
    margin: 0 auto;
  }

  .form__fieldset {
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;

    &::before {
      display: none;
    }

    &--row {
      width: 648px;

      border-top: 1px solid @color-background;
    }

    &--column-left {
      position: relative;

      width: 324px;
      padding-right: 20px;

      &::after {
        content: "";

        position: absolute;
        bottom: 0;
        right: 1px;

        width: 1px;
        height: calc(100% - 4px);

        background-color: @color-background;
      }
    }

    &--column-right {
      width: 324px;
      padding-left: 57px;
    }
  }

  .form__fieldset-heading {
    padding-top: 0;
  }

  .form__fieldset--column-left .form__fieldset-heading {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }

  .form__fieldset--column-right .form__fieldset-heading {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }

  .form__fieldset--row .form__fieldset-heading {
    width: 400px;
  }

  .form__full-name {
    margin-bottom: 71px;
  }

  .form__contacts {
    margin-bottom: 54px;
  }

  .form__impression {
    order: -1;
    margin-bottom: 71px;
  }

  .form__attractions {
    margin-bottom: 68px;
  }

  .form__comment {
    margin-bottom: 58px;
  }

  .form__submit {
    width: 50%;
    margin-left: 0;
    margin-right: auto;
  }

  .form__footnote {
    display: block;
    max-width: 300px;
    margin: 0;
    padding: 0;
    padding-top: 3px;
    align-self: center;

    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .form__container {
    width: 960px;
  }

  .form__fieldset {
    &--row {
      width: 960px;
    }

    &--column-left {
      width: 480px;
      padding-left: 4px;
      padding-right: 40px;
    }

    &--column-right {
      width: 480px;
      padding-left: 78px;
    }
  }

  .form__full-name {
    margin-bottom: 68px;
  }

  .form__contacts {
    margin-bottom: 54px;
  }

  .form__impression {
    margin-bottom: 68px;
  }

  .form__attractions {
    margin-bottom: 66px;
  }
}
