.gallery__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.gallery__item {
  position: relative;

  display: block;
  padding: 23px 20px 17px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: @color-background;
  }

  &:last-child::after {
    content: "";

    position: absolute;
    bottom: -1px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: @color-background;
  }
}

.gallery__item-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.gallery__item-title {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  text-align: left;
}

.gallery__item-author {
  margin: 0;
  margin-bottom: 8px;

  text-align: left;
  text-transform: none;
}

.gallery__item-likes {
  text-align: left;
}

.gallery__item-like-button {
  width: 23px;
  height: 23px;
  margin: 0;
  margin-right: 10px;
  padding: 0;

  overflow: hidden;
  text-indent: -10000px;

  background-color: transparent;
  border: none;

  background-image: url("../img/icon-like-black.svg");
  background-repeat: no-repeat;
  opacity: 0.3;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.6;
  }
}

.gallery__item-like-count {
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    width: 648px;
    margin-left: auto;
    margin-right: auto;
  }

  .gallery__item {
    position: static;

    width: 324px;
    margin: 0;
    padding: 0;

    background-color: @color-background;

    &:nth-child(2n+3) {
      background-color: #eaeaea;
    }

    &::before {
      display: none;
    }

    &:last-child::after {
      display: none;
    }

    &--large {
      width: 648px;
    }
  }

  .gallery__item-photo {
    width: 324px;
    height: 267px;
  }

  .gallery__item--large .gallery__item-photo {
    width: 648px;
    height: 400px;
  }

  .gallery__item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 17px;
  }

  .gallery__item-description {
    width: 200px;
  }

  .gallery__item-author {
    margin-bottom: 0;
  }

  .gallery__item-likes {
    text-align: right;
  }

  .gallery__item-like-button {
    margin-right: 5px;
  }

  .gallery__item-like-count {
    display: inline-block;
    min-width: 32px;
    padding-top: 1px;
  }
}

@media (min-width: @desktop-width) {
  .gallery__list {
    width: @desktop-width;
  }

  .gallery__item {
    position: relative;

    width: 400px;

    &--large {
      width: @desktop-width;
    }
  }

  .gallery__item-photo {
    margin-bottom: 0;
    width: 400px;
    height: 267px;
  }

  .gallery__item--large .gallery__item-photo {
    width: 1200px;
    height: 400px;
  }

  .gallery__item-info {
    position: absolute;
    bottom: 0;

    box-sizing: border-box;
    width: 100%;
    padding-top: 15px;
    padding-left: 21px;
    padding-right: 21px;

    background-color: rgba(0, 0, 0, 0.3);
  }

  .gallery__item-title,
  .gallery__item-author {
    color: #ffffff;
  }

  .gallery__item-like-button {
    background-image: url("../img/icon-like-white.svg");
    opacity: 1;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
  }

  .gallery__item-like-count {
    color: #ffffff;
  }
}
