.modal {
  position: fixed;
  z-index: 101;
  left: 50%;
  transform: translateX(-50%);

  box-sizing: border-box;
  width: @mobile-width;

  background-color: @color-base;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);

  &--warning {
    bottom: 718px;
  }

  &--success {
    bottom: 348px;
  }

  display: none;

  &--show {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .modal {
    &--warning {
      width: 400px;
    }

    &--success {
      width: 640px;
    }
  }
}
