.page-header {
  position: relative;
}

.page-header__logo-link {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: -28px;

  transform: translateX(-50%);
}

.page-header__logo-image {
  display: block;
}

@media (min-width: @tablet-width) {
  .page-header__logo-link {
    top: 0;
  }
}
