.page-footer {
  padding: 20px 20px 23px;
}

.page-footer__hashtag {
  margin: 0;
  margin-bottom: 36px;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: @color-text-dark-heading;
}

.page-footer__social {
  margin: 0;
  margin-bottom: 40px;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  color: @color-text-dark-heading;
}

.page-footer__copyright-text {
  margin-left: auto;
  margin-right: 11px;
}

.page-footer__copyright-academy {
  margin-right: auto;
}

.page-footer__academy-logo {
  display: block;
}

.page-footer__copyright-academy:hover .page-footer__academy-logo,
.page-footer__copyright-academy:focus .page-footer__academy-logo {
  fill: @color-contrast;
}

.page-footer__copyright-academy:active .page-footer__academy-logo {
  fill: @color-text-dark-heading;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    align-items: center;
    padding: 36px 59px 36px 61px;
  }

  .page-footer__hashtag {
    width: 150px;
    margin-right: auto;
    margin-bottom: 0;

    text-align: left;
  }

  .page-footer__social {
    max-width: 260px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .page-footer__copyright {
    width: 150px;
  }

  .page-footer__copyright-academy {
    margin-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding-left: 118px;
    padding-right: 121px;
  }

  .page-footer__social {
    max-width: 380px;
  }
}
