.page-header {
  position: relative;

  padding-bottom: 56px;
}

.page-header__main-nav {
  &--closed {
    display: none;
  }

  &--open {
    display: block;
  }
}

.page-header__toggle {
  position: absolute;
  right: 20px;

  width: 23px;
  height: 22px;
  padding: 0;

  overflow: hidden;
  text-indent: -10000px;

  background-color: transparent;
  border: none;

  &--burger {
    bottom: 17px;
    background-image: url("../img/icon-menu.svg");
  }

  &--cross {
    top: 17px;
    background-image: url("../img/icon-cross.svg");
  }

  background-repeat: no-repeat;
}

.page-header__site-nav {
  margin: 0;
}

.page-header__logo {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: -28px;

  transform: translateX(-50%);
}

@media (min-width: @tablet-width) {
  .page-header {
    position: static;

    padding-bottom: 0;
  }

  .page-header__main-nav {
    display: block;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__logo {
    top: 0;
  }
}
