.page-footer {
  padding: 27px 20px 20px;
}

.page-footer__hashtag {
  margin: 0;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: @color-text-dark-heading;
}

.page-footer__social {
  margin: 0;
}

.page-footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  color: @color-text-dark-heading;
}

.page-footer__academy-link {
  position: relative;

  display: inline-block;
  width: 27px;
  height: 34px;
  margin-left: 10px;

  overflow: hidden;
  text-indent: -10000px;
  vertical-align: middle;
}

.page-footer__academy-logo {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);
}

.page-footer__academy-link:hover .page-footer__academy-logo,
.page-footer__academy-link:focus .page-footer__academy-logo {
  fill: @color-contrast;
}

.page-footer__academy-link:active .page-footer__academy-logo {
  fill: @color-text-dark-heading;
  opacity: 0.3;
}

@media (max-width: @tablet-width) {
  .page-footer__hashtag {
    margin-bottom: 36px;
  }

  .page-footer__social {
    margin-bottom: 41px;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    align-items: center;
    padding: 36px 59px 36px 61px;
  }

  .page-footer__hashtag {
    width: 150px;
    margin-right: auto;

    text-align: left;
  }

  .page-footer__social {
    max-width: 260px;
    margin-right: auto;
  }

  .page-footer__copyright {
    width: 150px;

    text-align: right;
  }

  /* Необходимо для сокрытия текста ссылки */
  .page-footer__academy-link {
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding-left: 118px;
    padding-right: 121px;
  }

  .page-footer__social {
    max-width: 380px;
  }
}
