.site-nav {
  padding: 0;

  list-style: none;
}

.site-nav__link {
  display: block;
  padding: 9px 20px 6px 20px;

  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  color: @color-text-light;

  background-color: @color-background-contrast;

  &:hover {
    background-color: @color-background-contrast-hover;
  }

  &:active {
    color: @color-text-light-active;
    background-color: @color-background-contrast-active;
  }
}
