.video__heading {
  max-width: 260px;
  margin: 0 auto 9px;
  padding: 10px;
}

.video__text {
  max-width: 260px;
  margin: 0 auto;
  padding: 10px;
}

@media (min-width: @tablet-width) {
  .video__heading {
    max-width: 440px;
  }

  .video__text {
    max-width: 440px;
  }
}
