@font-face {
  font-family: "PTSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PTSans Regular"), local("PTSans-Regular"),
       url("../fonts/ptsans.woff") format("woff"),
       url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-family: "PTSans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PTSans Bold"), local("PTSans-Bold"),
       url("../fonts/ptsansbold.woff") format("woff"),
       url("../fonts/ptsansbold.woff2") format("woff2");
}
