@color-text-dark: #333333;
@color-text-dark-heading: #000000;
@color-text-light: #ffffff;
@color-text-light-heading: #ffffff;
@color-text-light-active: rgba(255, 255, 255, 0.3);

@color-background-base: #ffffff;
@color-background-contrast: #81b3d2;
@color-background-contrast-hover: #669ec0;
@color-background-contrast-active: #5496bd;
@color-background-advantages: #eeeeee;
